In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Rikitea,PF,2020-08-23 16:47:06,-23.12,-134.97,69.44,83,84,22.28
1,1,Pochutla,MX,2020-08-23 16:47:06,15.74,-96.47,82.99,78,90,4.94
2,2,Mundo Nuevo,MX,2020-08-23 16:47:06,18.70,-95.50,82.71,79,27,5.44
3,3,Hobart,AU,2020-08-23 16:44:39,-42.88,147.33,41.00,75,40,6.93
4,4,Provideniya,RU,2020-08-23 16:47:06,64.38,-173.30,49.78,91,98,4.70

In [3]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [6]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0,31.0), zoom_level=1.5)
# Assign the heatmap variable.
#heat_layer = gmaps.heatmap_layer(locations, weights=max_temp)
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp],dissipating=False,max_intesity=300,point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
cloudiness = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=cloudiness, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Heatmap of percent wind speed
locations = city_data_df[["Lat", "Lng"]]
windspeed = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=windspeed, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [11]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
1,1,Pochutla,MX,2020-08-23 16:47:06,15.74,-96.47,82.99,78,90,4.94
2,2,Mundo Nuevo,MX,2020-08-23 16:47:06,18.70,-95.50,82.71,79,27,5.44
8,8,Faanui,PF,2020-08-23 16:47:07,-16.48,-151.75,76.48,76,1,19.60
9,9,Mastic Beach,US,2020-08-23 16:43:23,40.77,-72.85,81.00,74,1,5.82
16,16,Albany,US,2020-08-23 16:45:03,42.60,-73.97,86.00,61,0,4.29
18,18,Binzhou,CN,2020-08-23 16:47:08,37.37,118.02,84.00,76,81,8.28
19,19,Mattru,SL,2020-08-23 16:47:09,7.62,-11.83,77.61,90,99,6.02
20,20,Lorengau,PG,2020-08-23 16:47:09,-2.02,147.27,78.15,84,100,8.48
27,27,Guerrero Negro,MX,2020-08-23 16:46:05,27.98,-114.06,81.36,54,88,15.32
32,32,Harper,LR,2020-08-23 16:47:10,4.38,-7.72,77.70,77,73,11.43

In [15]:
preferred_cities_df.notnull().sum()

City_ID       201
City          201
Country       200
Date          201
Lat           201
Lng           201
Max Temp      201
Humidity      201
Cloudiness    201
Wind Speed    201
dtype: int64

In [16]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

              City Country  Max Temp    Lat     Lng Hotel Name
1         Pochutla      MX     82.99  15.74  -96.47
2      Mundo Nuevo      MX     82.71  18.70  -95.50
8           Faanui      PF     76.48 -16.48 -151.75
9     Mastic Beach      US     81.00  40.77  -72.85
16          Albany      US     86.00  42.60  -73.97
18         Binzhou      CN     84.00  37.37  118.02
19          Mattru      SL     77.61   7.62  -11.83
20        Lorengau      PG     78.15  -2.02  147.27
27  Guerrero Negro      MX     81.36  27.98 -114.06
32          Harper      LR     77.70   4.38   -7.72

In [17]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [18]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found...skipping")
hotel_df.head()

Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping

,City,Country,Max Temp,Lat,Lng,Hotel Name
1,Pochutla,MX,82.99,15.74,-96.47,Hotel Posada San Jose
2,Mundo Nuevo,MX,82.71,18.70,-95.50,
8,Faanui,PF,76.48,-16.48,-151.75,Bora-Bora Pearl Beach Resort & Spa
9,Mastic Beach,US,81.00,40.77,-72.85,Brushwood House by Smith Point Beach
16,Albany,US,86.00,42.60,-73.97,

In [19]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>
</dl>
"""
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [20]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))